appdirs==1.4.4
argcomplete==2.0.0
asn1crypto==1.5.1
attrs==22.1.0
Babel==2.10.3
bcrypt==3.2.2
Beaker==1.12.1
beautifulsoup4==4.12.2
blivet==3.5.0
blivet-gui==2.4.2
boto3==1.28.21
botocore==1.31.21
Brlapi==0.8.4
Brotli==1.0.9
bsddb3==6.2.9
cached-property==1.5.2
cachetools==5.2.0
cairocffi==1.3.0
CairoSVG==2.7.0
certifi==2021.10.8
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.0
click==8.1.3
conda==4.13.0
conda-package-handling==1.8.1
configobj==5.0.8
contourpy==1.0.7
cryptography==37.0.2
cssselect==1.1.0
cssselect2==0.6.0
cupshelpers==1.0
cycler==0.11.0
cytoolz==0.11.2
dasbus==1.6
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distro==1.7.0
dnf==4.18.0
docker==5.0.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
dropbox==11.36.0
dulwich==0.20.44
duplicity==1.2.3
ethtool==0.15
fasteners==0.19
fedora-third-party==0.10
file-magic==0.4.0
fluidity-sm==0.2.0
fonttools==4.37.2
fros==1.1
frozendict==1.2
fs==2.4.11
future==0.18.3
google-api-core==2.11.1
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
googleapis-common-protos==1.60.0
gpg==1.17.0
gramps==5.1.6
greenlet==1.1.2
grpcio==1.48.4
grpcio-gcp==0.2.2
grpcio-status==1.48.4
gssapi==1.7.3
httplib2==0.20.4
humanize==3.13.1
idna==3.3
imageio==2.31.3
img2pdf==0.4.4
importlib-metadata==4.12.0
imutils==0.5.4
iniparse==0.5
initial-setup==0.3.95
invoke==1.7.0
iotop==0.6
jmespath==1.0.0
jsonschema==4.10.0
kiwisolver==1.4.5
koji==1.33.0
langtable==0.0.64
lazy_loader==0.3
lexicon==2.0.1
libarchive-c==4.0
libcomps==0.1.20
libdnf==0.72.0
libvirt-python==8.6.0
lockfile==0.12.2
lxml==4.9.1
Mako==1.1.4
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.3
mdurl==0.1.2
munkres==1.1.2
networkx==3.1
nftables==0.1
notify2==0.3.1
ntplib==0.3.3
ntpsec==1.2.2a0
numpy==1.24.3
oauth2client==4.1.3
ocrmypdf==14.4.0
olefile==0.46
opencv-python==4.8.0.76
ordered-set==4.1.0
packaging==21.3
paramiko==2.12.0
Paste==3.5.0
pdfminer.six==20221105
pexpect==4.8.0
pid==2.2.3
pikepdf==8.4.1
Pillow==9.2.0
pluggy==1.3.0
ply==3.11
podman-compose==1.0.6
productmd==1.37
progressbar2==3.53.2
protobuf==3.19.6
psutil==5.9.1
ptyprocess==0.6.0
pwquality==1.4.5
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycairo==1.21.0
pycollada==0.7.2
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pydbus==0.6.0
PyDrive2==1.17.0
pyenchant==3.2.2
pygame==2.5.2
pygit2==1.7.1
Pygments==2.16.1
PyGObject==3.42.2
PyICU==2.9
pyinotify==0.9.6
pykickstart==3.41
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyPDF2==3.0.1
PyQt5==5.15.9
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.4
pyrsistent==0.18.1
PySide2==5.15.7
PySocks==1.7.1
pystray==0.17.3
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.50
python-utils==3.1.0
python-xlib==0.33
pytz==2023.3.post1
pyudev==0.23.2
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
rabbitvcs==0.18
regex==2023.10.3
reportlab==4.0.4
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rich==13.5.2
rpm==4.18.2
rpmautospec==0.3.8
rpmconf==1.1.7
rsa==4.9
ruamel.yaml==0.17.24
ruamel.yaml.clib==0.2.7
s3transfer==0.6.2
scikit-image==0.21.0
SciPy==1.8.1
scour==0.38.2
selinux==3.5
Send2Trash==1.8.0
sepolicy==3.5
setools==4.4.0
setroubleshoot==3.3.32
shiboken2==5.15.7
simpleaudio==1.0.4
simplejson==3.17.6
simpleline==1.9.0
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.50
stone==3.2.1
subscription-manager==1.29.39
systemd-python==235
Tempita==0.5.2
tesserocr==2.6.1
texttable==1.6.4
tifffile==2023.8.30
tinycss2==1.1.1
toolz==0.11.2
tqdm==4.66.1
uritemplate==4.1.1
urllib3==1.26.18
webencodings==0.5.1
websocket-client==1.3.3
xcffib==0.11.1
zipp==3.8.1
